<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sortie.com</title>
    <link rel="stylesheet" href="{{ asset('/CSS/styleLogin.css') }}">
</head>
<body>
<h1 class="welcome">Bienvenue sur SORTIR.COM</h1>
<form class="box" method="post">
    {% if error %}
        <div class="">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <h2>Connexion</h2>
    <input type="text" value="{{ last_username }}" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Mot de passe" required>
    <input type="checkbox" id="remember_me"  name="_remember_me"> Se souvenir de moi

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
    <input type="submit" name="" value="Login">
</form>

</body>
</html>
