
{% extends '/base.html.twig' %}

{% block body %}
    {% if app.user %}
        <div class="owl-carousel owl-theme">
            <div class="slide slide-1">
                <div class="slide-content">
                    <h1>Bienvenue sur Sortir.com</h1>
                    <p>Salut {{ app.user.username }} !</p>
                </div>
            </div>
            <div class="slide slide-2">
                <div class="slide-content">
                    <h1>Sortir.com ça sert à quoi ?</h1>
                    <p>Le plus beau des sites pour s'inscrire à toutes les sorties qui vont font envie. Une sortie en particulier vous intéresse ? n'attendez plus, inscrivez-vous !</p>
                </div>
            </div>
            <div class="slide slide-3">
                <div class="slide-content">
                    <h1>Campus</h1>
                    <p>Il existe différents campus, ENI-Nantes, ENI-Paris ou bien ENI-Rennes. Choisissez le votre !</p>
                </div>
            </div>
        </div>
        <div class="m-5 ">
            <h2 class="text-center">Inscriptions possibles</h2>
            <div class="row m-5 ">
                {% for event in events %}
                    {% if event.status.id == 2 %}
                        <div class="col-3 p-2 ">
                            <div class="card float-sm-left" style="width: 20rem;">
                                <a href="{{ url('event-details', {"id": event.id}) }}" class="card-link">
                                    <img class="card-img-top" src="http://placekitten.com/200/300" alt="Card image cap">
                                </a>

                                <div class="card-body">
                                    <a href="{{ url('event-details', {"id": event.id}) }}" class="card-title text-center">{{ event.name }}</a>
                                    <p class="card-text text-truncate">{{ event.eventDetails }} </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>Date et heure de l'evenement</strong> <br>
                                        {{ event.startingDateTime|format_datetime(locale='fr')}}</li>
                                    <li class="list-group-item"><strong>Date de fin des inscriptions</strong> <br>
                                        {{ event.inscriptionDeadLine|format_datetime(locale='fr')}}</li>
                                    <li class="list-group-item"><strong>Nombre inscrit </strong> <br>
                                        {{ event.registeredMembers.count }}/ {{ event.nbMaxRegistration }} places </li>
                                </ul>
                                <div class="card-body">
                                    {% if event.status.id == 6 %}
                                        <p class="alert-danger">ANNULEE</p>
                                    {% else %}
                                        {% if event.status.id < 5 %}
                                            <a href="{{ url('event-details', {"id": event.id}) }}" class="card-link">Details de l'evenement</a>
                                            {% if event.organizer == app.user %}
                                                <a href="{{url('modify_event',{"id": event.id})}}" class="card-link">Modifier l'evenement</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% else %}

                    <p>Aucune sortie n'a été trouvé</p>

                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="m-5">
        <h2 class="text-center">Inscriptions cloturees </h2>
        <div class="row m-5">
            {% for event in events %}
                {% if event.status.id == 3 %}
                    <div class="col-3 p-2">
                        <div class="card" style="width: 20rem;">
                            <img class="card-img-top" src="https://loremflickr.com/320/240" alt="Card image cap">
                            <div class="card-body">
                                <a href="{{ url('event-details', {"id": event.id}) }}" class="card-title text-center">{{ event.name }}</a>
                                <p class="card-text text-truncate">{{ event.eventDetails }} </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Date de début</strong> <br>
                                    {{ event.startingDateTime|format_datetime(locale='fr')}}</li>
                                <li class="list-group-item"><strong>Date de fin des inscriptions</strong> <br>
                                    {{ event.inscriptionDeadLine|format_datetime(locale='fr')}}</li>
                                <li class="list-group-item"><strong>Nombre inscrit </strong> <br>
                                    {{ event.registeredMembers.count }}/ {{ event.nbMaxRegistration }} places </li>
                            </ul>
                            <div class="card-body">
                                {% if event.status.id == 6 %}
                                    <p class="alert-danger">ANNULEE</p>
                                {% else %}
                                    {% if event.status.id < 5 %}
                                        <a href="{{ url('event-details', {"id": event.id}) }}" class="card-link">Details de l'evenement</a>
                                        {% if event.organizer == app.user %}
                                            <a href="{{url('modify_event',{"id": event.id})}}" class="card-link">Modifier l'evenement</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}

                <p>Aucune sortie n'a été trouvé</p>

            {% endfor %}
        </div>
    </div>
    <div class="m-5">
        <h2 class="text-center">Sorties annulees </h2>
        <div class="row m-5">
            {% for event in events %}
                {% if event.status.id == 6 %}
                    <div class="col-3 p-2">
                        <div class="card" style="width: 20rem;">
                            <img class="card-img-top" src="https://loremflickr.com/320/240" alt="Card image cap">
                            <div class="card-body">
                                <a href="{{ url('event-details', {"id": event.id}) }}" class="card-title text-center">{{ event.name }}</a>
                                <p class="card-text text-truncate">{{ event.eventDetails }} </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Date de début</strong> <br>
                                    {{ event.startingDateTime|format_datetime(locale='fr')}}</li>
                                <li class="list-group-item"><strong>Date de fin des inscriptions</strong> <br>
                                    {{ event.inscriptionDeadLine|format_datetime(locale='fr')}}</li>
                                <li class="list-group-item"><strong>Nombre inscrit </strong> <br>
                                    {{ event.registeredMembers.count }}/ {{ event.nbMaxRegistration }} places </li>
                            </ul>
                            <div class="card-body">
                                {% if event.status.id == 6 %}
                                    <p class="alert-danger">ANNULEE</p>
                                {% else %}
                                    {% if event.status.id < 5 %}
                                        <a href="{{ url('event-details', {"id": event.id}) }}" class="card-link">Details de l'evenement</a>
                                        {% if event.organizer == app.user %}
                                            <a href="{{url('modify_event',{"id": event.id})}}" class="card-link">Modifier l'evenement</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}

                <p>Aucune sortie n'a été trouvé</p>

            {% endfor %}
        </div>
    </div>
{% endblock %}