{% extends '/base.html.twig' %}

{% block body %}
{% if app.user %}
    <div class="mb-3">
        <h3 class="text-center">Bienvenue sur Sortir.com {{ app.user.username }}</h3>
    </div>

    <div class="owl-carousel owl-theme">
        <div class="slide slide-1">
            <div class="slide-content">
                <h1>Bienvenue sur Sortir.com</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In voluptas eaque nobis ducimus voluptate molestiae corporis mollitia atque totam eligendi voluptatem vitae, quibusdam, vero delectus repudiandae tempore sint officiis odio.</p>
                <button>Lorem</button>
            </div>
        </div>
        <div class="slide slide-2">
            <div class="slide-content">
                <h1>Lorem, ipsum dolor sit amet</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In voluptas eaque nobis ducimus voluptate molestiae corporis mollitia atque totam eligendi voluptatem vitae, quibusdam, vero delectus repudiandae tempore sint officiis odio.</p>
                <button>Lorem</button>
            </div>
        </div>
        <div class="slide slide-3">
            <div class="slide-content">
                <h1>Lorem, ipsum dolor sit amet</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In voluptas eaque nobis ducimus voluptate molestiae corporis mollitia atque totam eligendi voluptatem vitae, quibusdam, vero delectus repudiandae tempore sint officiis odio.</p>
                <button>Lorem</button>
            </div>
        </div>
    </div>

    <h1>Sortie</h1>
    <div class="row m-5">

    {% for event in events %}
        <div class="col-3 p-5">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://loremflickr.com/320/240" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ event.name }}</h5>
                    <p class="card-text text-truncate">{{ event.eventDetails }} </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Date de début : {{ event.startingDateTime|date('d-m-Y')}}</li>
                    <li class="list-group-item">Durée : {{ event.duration}}</li>
                    <li class="list-group-item">Date de fin des inscriptions : {{ event.inscriptionDeadLine|date('d-m-Y')}}</li>
                    <li class="list-group-item">Nombre de participant max : {{ event.nbMaxRegistration }}</li>
                    <li class="list-group-item">Status : {{ event.status.label }}</li>
                </ul>
                <div class="card-body">
                    {% if event.status.id == 6 %}
                        <p class="alert-danger">ANNULEE</p>
                    {% else %}
                        {% if event.status.id < 5 %}
                    <a href="{{ url('event-details', {"id": event.id}) }}" class="card-link">Details de l'evenement</a>
                    {% if event.organizer == app.user %}
                    <a href="#" class="card-link">Modifier l'evenement</a>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        {% else %}

            <p>Aucune sortie n'a été trouvé</p>

        {% endfor %}
    </div>
    <a href="{{ path('event') }}">Créer une nouvelle sortie</a>
{% endif %}
{% endblock %}