{% extends 'base.html.twig' %}

{% block title %}{{ "Gestion des villes"}}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <div
                        class=" pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <h2>Recherche</h2>
                </div>
            </div>
        </div>
        <div>
            {% for status, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash flash-{{ status }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <br>
        {{ form_start(search_city_form) }}
        <div class="row justify-content-md-center">
            <div class="input-group col-md-6">
                {{ form_row(search_city_form.name) }}
            </div>
            <div class="input-group col-md-6">
                 {{ form_row(search_city_form.zipCode) }}
            </div>
            <div class="input-group col-md-2 m-4">
                <button class="btn btn-info" type="submit" name="rechercher">Rechercher</button>
                {{ form_end(search_city_form) }}
            </div>


            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Ville</th>
                    <th scope="col">Département</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% if city |length > 0 %}
                    {% for c in city %}
                        <tr>
                            <td scope="row">{{ c.name }}</td>
                            <td scope="row">{{ c.zipCode }}</td>
                            <td>
                                <a href="{{ path('modify_city', {'id': c.id}) }}">Modifier</a> / <a href="{{ path('delete_city', {'id': c.id}) }}">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>Aucun résultat pour votre recherche</td>
                    </tr>
                {% endif %}

                {{ form_start(add_city_form) }}
                <tr>
                    <td>
                        {{ form_row(add_city_form.name) }}
                    </td>
                    <td>
                        {{ form_row(add_city_form.zipCode) }}
                    </td>
                    <td>
                        <button class="btn btn-info" type="submit" name="ajouter">Ajouter</button>
                    </td>
                </tr>
                {{ form_end(add_city_form) }}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}