{% extends 'base.html.twig' %}

{% block title %}{{ "Modification de la ville"}}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <div
                        class=" pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                    <h2>Modification de la ville</h2>
                </div>
            </div>
        </div>
        {{ form_start(modifyCityForm) }}
        <div class="row justify-content-md-center">
            <div class="input-group col-md-6">
                {{ form_row(modifyCityForm.name) }}
            </div>
            <div class="input-group col-md-6">
                {{ form_row(modifyCityForm.zipCode) }}
            </div>
            <div class="input-group col-md-2">
                <button class="btn btn-info" type="submit" name="valider">Valider</button>
                {{ form_end(modifyCityForm) }}
            </div>
        </div>
    </div>
{% endblock %}