{% extends 'base.html.twig' %}

{% block body %}


	<h1 class="m-3 text-center">Annuler une sortie</h1>
	{{ form_start(annulationForm) }}

	<div class="row justify-content-md-center mt-3">
		{{ form_label(annulationForm.motifCancel) }}
		</div>

	<div class="row justify-content-lg-center mt-3">
				{{ form_widget(annulationForm.motifCancel) }}
			</div>

	<div class="row justify-content-md-center mt-3">
				<button type="submit" class="btn btn-success btn-lg btn-block col-md-3">Annuler la sortie</button></a>
		</div>
	<div class="row justify-content-md-center mt-3">
		<div class="form-group col-md-3">
			{{ form_end(annulationForm) }}
			<a href="{{ url('event-details', {"id": event.id}) }}">
				Retour</a>
		</div>
	</div>

{% endblock %}