{% extends 'base.html.twig' %}

{% block title %} Détail d'une sortie {% endblock %}

{% block body %}

    {% if (event.status.id == 6) %}
        <h3>LA SORTIE {{ event.name }} EST ANNULEE</h3>
    {% endif %}
    {% if (event.status.id < 6) %}

        <div class="container">


        <div class="jumbotron">
        <h3 class="display-3">{{ event.name }}</h3>
    {% endif %}
    <p class="lead text-align-center">{{ event.eventDetails }}</p>
    <p>    {% if(event.registeredMembers| length < event.nbMaxRegistration) and app.user not in event.registeredMembers and event.inscriptionDeadLine  > date() %}
            {% if (event.status.id == 2) %}
                <a class="btn btn-lg btn-info" href="{{ path('inscriptionEvent', {"id": event.id }) }}">S'inscrire</a>
            {% endif %}
        {% endif %}

        {% if (event.status.id == 2 ) %}
            {% if(app.user in event.registeredMembers) %}
                <a class="btn btn-lg btn-info" href="{{ path('desinscriptionEvent', {"id": event.id }) }}">Se
                    désinscrire</a>
            {% endif %}
        {% endif %}

        {% if (event.status.id == 2 ) %}
            {% if (app.user == event.organizer) %}
                <a class="btn btn-lg btn-outline-danger" href="{{ path('cancelEvent', {"id": event.id }) }}">Annuler</a>
                    <a class="btn btn-lg btn-outline-info"
                       href="{{ path('modify_event', {"id": event.id }) }}">Modifier</a>
            {% endif %}
        {% endif %}</p>
    </div>
    {% if event.registeredMembers is not empty %}
    {% for p in event.registeredMembers %}
    <h3 style="">Liste des participants</h3>
    <table class="table" style="">
        <thead>
        <tr>
            <th>#</th>
            <th>Peudo</th>
            <th>Nom</th>
            <th>Prenom</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td> <a href="{{ path('user_profile',{'id': p.id}) }}"> {{ p.username }}</a></td>
            <td>{{ p.firstName }}</td>
            <td>{{ p.lastName }}</td>
        </tr>
        {% else %}
            <li><em>no user found</em></li>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
    </div>

    <div class="container">
    <div class="row marketing m-6">
        <div class="col-6">
            <h4>Durée de l'évènement</h4>
            <p>{{ event.duration }}</p>

            <h4>Date de début</h4>
            <p>{{ event.startingDateTime |date("d/m/Y") }}</p>

            <h4>Date Limite d'inscription</h4>
            <p>{{ event.inscriptionDeadLine |date("d/m/Y") }}</p>

            <h4>Nombre maximum d'inscrit</h4>
            <p>{{ event.nbMaxRegistration }}</p>

            <h4>Nombre de participant</h4>
            <p>{{ event.registeredMembers|length }}</p>
        </div>

    <div class="col-6">
        <h4>Lieu </h4>
        <p>{{ event.location.name }}</p>

        <h4>Lieu </h4>
        <p>{{ event.location.city.name  }}</p>

        <h4>Rue</h4>
        <p>{{ event.location.street  }}</p>

        <h4>Code Postal</h4>
        <p>{{ event.location.city.zipCode  }}</p>

        <h4>Organisateur</h4>
        <a href="{{ path('user_profile', {'id': event.organizer.id}) }}">{{ event.organizer.username  }}</a>
    </div>
    </div>
    </div>

{% endblock %}